mapper_type: voxel
ema: 0.5 #higher->use recent more
n_features: -1
metadata:
    origin: [-20., -20., -5.]
    length: [40., 40., 10.]
    resolution: [0.1, 0.1, 0.05]

raytracer:
    type: frustum
    sensor:
        type: VLP32C-front

        # type: VLP32C
    
        # type: generic
    
        # n_el: 72 #number of bins
        # el_range: [-25., 15.] #min/max angle
        # el_thresh: default #optional arg to filter based on remainder

        # n_az: 900
        # az_range: [-180, 180.]
        # az_thresh: default